body {
    font-family: "Roboto", serif;
}
.costume-color {
    background: rgb(1, 151, 198);
    background: linear-gradient(
        180deg,
        rgba(1, 151, 198, 1) 0%,
        rgba(0, 20, 198, 1) 100%
    );
}
.brand-link {
    border-bottom: 0px !important;
}
.brand-image-cs {
    height: 79px;
}
.brand-text-cs{
    font-size: 35px;
}

.nav-sidebar > .nav-item > .nav-link.active {
    color: #008cc6 !important;
}

