.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color: #2196F3;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.second-float{
    border-radius: 50%;
    margin-right: 45px;
    margin-bottom: 25px;
    position:fixed;
    width:25px;
    height:25px;
    bottom:44px;
    right:40px;
    background-color: #FF7171;
    color:#FFFFFF;
    text-align:center;
}

.my-float{
    margin-top:22px;
}

.my-second-float{
}


