.btn{
    border-radius: 0px!important;
}
.btn-primary-cs, .btn-primary {
    color: #fff;
    background-color: #008CC6;
    border-color: #008CC6;
    box-shadow: none;
    border-radius: 0px!important;
}
.btn-primary-cs:hover, .btn-primary:hover {
    color: #fff;
    background-color: #0082b7;
    border-color: #304e6d;
}
.btn-primary-cs:focus, .dark-mode .btn-primary-cs.focus,
.btn-primary:focus, .dark-mode .btn-primary.focus{
    color: #fff;
    background-color: #0082b7;
    border-color: #304e6d;
    box-shadow: 0 0 0 0 rgba(92, 126, 162, 0.5);
}
.btn-primary-cs.disabled, .dark-mode .btn-primary-cs:disabled,
.btn-primary.disabled, .dark-mode .btn-primary:disabled {
    color: #fff;
    background-color: #008CC6;
    border-color: #008CC6;
}
.btn-primary-cs:not(:disabled):not(.disabled):active, .dark-mode .btn-primary-cs:not(:disabled):not(.disabled).active, .show > .dark-mode .btn-primary-cs.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled):active, .dark-mode .btn-primary:not(:disabled):not(.disabled).active, .show > .dark-mode .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #304e6d;
    border-color: #2c4765;
}
.btn-primary-cs:not(:disabled):not(.disabled):active:focus, .dark-mode .btn-primary-cs:not(:disabled):not(.disabled).active:focus, .show > .dark-mode .btn-primary.dropdown-toggle:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus, .dark-mode .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .dark-mode .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(92, 126, 162, 0.5);
}

.profile-user-img{
    border-width: 0px !important;
}


/* -------------------------------------------------------------------------- */
/*                                    icons                                   */
/* -------------------------------------------------------------------------- */

.basket {
    background: url('https://tukon.asia-one.co.id/images/icons/basket.svg');
    background-repeat: no-repeat;
    background-size: cover; /* stretch the background to cover the whole element */
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
    height: 20px;
    width: 20px;
    filter: invert(100%) sepia(15%) saturate(4186%) hue-rotate(176deg) brightness(88%) contrast(83%);
}

.home {
    background: url('https://tukon.asia-one.co.id/images/icons/building_process.svg') ;
    background-repeat: no-repeat;
    background-size: cover; /* stretch the background to cover the whole element */
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
    height: 20px;
    width: 20px;
    filter: invert(100%) sepia(15%) saturate(4186%) hue-rotate(176deg) brightness(88%) contrast(83%);
}

.construction{
    background: url('https://tukon.asia-one.co.id/images/icons/construction-29.svg') ;
    background-repeat: no-repeat;
    background-size: cover; /* stretch the background to cover the whole element */
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
    height: 20px;
    width: 20px;
    filter: invert(100%) sepia(15%) saturate(4186%) hue-rotate(176deg) brightness(88%) contrast(83%);
}

.product{
    background: url('https://tukon.asia-one.co.id/images/icons/product-4.svg') ;
    background-repeat: no-repeat;
    background-size: cover; /* stretch the background to cover the whole element */
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
    height: 20px;
    width: 20px;
    filter: invert(100%) sepia(15%) saturate(4186%) hue-rotate(176deg) brightness(88%) contrast(83%);
}

.nav-link:hover > .basket, .nav-link:hover >.home,.nav-link:hover > .construction, .nav-link:hover > .product{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(298deg) brightness(108%) contrast(107%);
}
.nav-link:hover.active > .basket,.nav-link:hover.active > .home,.nav-link:hover.active > .construction, .nav-link:hover.active > .product{
    filter: invert(36%) sepia(73%) saturate(3056%) hue-rotate(174deg) brightness(94%) contrast(101%);
}
.nav-link.active > .basket,.nav-link.active > .home, .nav-link.active > .construction, .nav-link.active > .product{
    filter: invert(36%) sepia(73%) saturate(3056%) hue-rotate(174deg) brightness(94%) contrast(101%);
}

.icon{
    color: #008CC6 !important;
}
.icon:hover,.icon:focus{
    color: #0070a0 !important;
}

.invoice h5{
    color: #0070a0 !important;
    padding-bottom: 15px;
}

.card-primary-dx .card-header{
    background-color: #023047!important;
}
.card-warning-dx .card-header{
    background-color: #FB8500!important;
}
.card-info-dx .card-header{
    background-color: #219EBC!important;
}
.card-secondary-dx .card-header{
    background-color: #FFB703!important;
}
